<!-- <div class="parent flex justify-center items-center w-full h-[100vh] bg-[#212121]">
<div class="card bg-white rounded-xl border border-[#ffe1e1] ">
<div class="title p-5">
<h1>Chatbox</h1>
</div>
<div class="compname">
<h2>Log In </h2>
</div>
<div class="formdiv">
<form >

  <div class="labelandinput">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Please Enter Email">
  </div>
  <div class="labelandinput">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Please Enter Email">
  </div>
  <div class="labelandinput">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Please Enter Email">
  </div>

</form>
</div>
</div>
</div> -->

<div
  class="parent flex justify-center items-center w-full h-[100vh] bg-[#212121]"
>
  <div class="card">
    <div class="box-input">
      <div class="border">
        <input
          type="email"
          name="text"
          class="input"
          placeholder="Email *"
          [(ngModel)]="emailid"
        />
        @if(startSignup){
          <input
          type="text"
          name="text"
          class="input"
          placeholder="username *"
          [(ngModel)]="username"
        />
        }
        @if (emailExists) {
        <input
          type="password"
          name="password"
          class="input"
          placeholder="password *"
          [(ngModel)]="password"
        />
        } @if(!emailExists) {
        <button type="submit " (click)="onSubmit()">
          <img width="20px" src="../../../assets/send2.svg" alt="" />
        </button>
        } @if(emailExists){
        <button type="submit " (click)="Login()">
          <img width="20px" src="../../../assets/send2.svg" alt="" />
        </button>
        }
         @if(startSignup){
        <button type="submit " (click)="signUp()">
          <img width="20px" src="../../../assets/send2.svg" alt="" />
        </button>
        }
      </div>
    </div>
  </div>
</div>
