<div class="parent">
  <div class="mainchat w-full h-[100vh] bg-[black]">
    <div class="mainchat-header flex justify-center items-center">

    <div class="card border rounded-2xl w-[90%] h-10% mt-[1%] text-[white] bg-[#4d4d4d] p-4">
    <div class="containert flex  items-center gap-5">
      <div class="backbutton">
        <img class="hover:cursor-pointer " src="../../../assets/left.svg" alt="" width="35px">
      </div>
    <div class="img border w-10 rounded-full h-10 flex justify-center ">
      <img src="../../../assets/avatar.jpeg"  width="30px" alt="" class="rounded-full object-cover">
    </div>
    <div class="username">
    <span>Kaushal Gohil</span>
    </div>
      <div class="buttons flex w-full  justify-end g-[5%]">
    <div class="btn"><img width="40px" src="../../../assets/video-svgrepo-com (2).svg" alt=""></div>
    <div class="btn"><img width="40px" src="../../../assets/phone-svgrepo-com.svg" alt=""></div>
    <div class="btn"><img width="40px" src="../../../assets/close-x-svgrepo-com (1).svg" alt=""></div>
      </div>
    </div>

    </div>


    </div>
    <div class="chatcontain w-full p-[5%] flex justify-center s">
    <ul class="text-[white] ">
      <li>HEy</li>
    </ul>
    </div>



</div>
